<html>
  <head>
    <title>Mi app web | Servicios</title>
    <style>
    .mg-list {
      margin-right: 6rem;
    }

    .body {
      font-family: "Arial";
      color: #a6a4a4;
      margin-left: 4rem;
      margin-top: 4rem;
      background-color: #202020;
    }

    .navbar {
      padding: 30px;
      margin-right: 3rem;
      backround-color: black;
    }

    .nv-font {
      color: white;
      size: 10;
    }
    .h3-font {
      size: 15;
      margin-left: 6rem;
    }


    h3 {
      size: 15;
    }

    .topnav {
     background-color: #333;
     overflow: hidden;
     margin-right: 3rem;
     border-radius: 10px;
   }

  /* Style the links inside the navigation bar */
    .topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
    }
    .topnav button {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
    }


  /* Change the color of links on hover */
    .topnav a:hover {
     background-color: #ddd;
     cursor: pointer;
     color: black;
    }
    .topnav a.active {
     background-color: #ffe284;
     color: white;
    }
    </style>
 
  </head>
  <body class="body">
    <div class="topnav">
      <a>🦀 Portafolio.rs</a>
      <a href="{{protocol}}{{hostname}}">Inicio</a>
      <a href="{{protocol}}{{hostname}}/services">Servicios</a>
    </div>
    <h1 style="color: white;">Bienvenido!</h1>
    <h2>Este es un sitio web para presentar mis servicios, como:</h2>
    <ul class="mg-list">
      <li style="font-size: 20px;">Crear un servidor de Minecraft ⛏️ </li>
      <li style="font-size: 20px;">Crear un servidor de Discord 📜</li>
      <li style="font-size: 20px;">Crear un sitio web para ti 💻</li>
    </ul>
    <h2>Contactame!</h2>
    <ul class="mg-list">
      <li style="font-size: 20px;"><a style="font-size: 20px;" href="https://github.com/HankB-o-T">GitHub</a></li>
      <li style="font-size: 20px;">Discord: slaim#0095 📜</li>
    </ul>
  
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <p style="font-size: 10px;">{{hostname}} | hecho utilizando rocket.rs | 2023 slaim</p>
  </body>
</html>
